@{
    Page.Title = "No More Users Allowed";
}

<div class="container">
    <h1>@Page.Title</h1>
    <p>I'm sorry, but this site has been configured no to allow any more users. Please refer to the documentation on enabling more users.</p>
</div>